* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

#wrap {
  width: 100%;
  height: 1380px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.back {
  width: 1920px;
  height: 1380px;
  /* background-color: #afafaf; */
}

.header {
  position: fixed;
  /* top: 0; */
  height: 120px;
  display: flex;
  background-color: black;
  z-index: 2;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.logo {
  width: 400px;
  text-align: center;
  line-height: 120px;
  font-size: 30px;
  font-weight: 1000;
  color: aliceblue;
}

.nav {
  width: 1120px;
  height: 120px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav > ul {
  width: 600px;
  /* background-color: gray; */
  height: 40px;
  display: flex;
}

.nav > ul > li {
  width: 150px;
  text-align: center;
  line-height: 40px;
  font-size: 23px;
  cursor: pointer;
}

.nav > ul > li > a {
  position: relative;
  color: #d3d3d3;
}

.nav > ul > li > a:hover {
  color: rgba(243, 115, 33);
  transition: 0.5s;
}

.nav > ul > li > a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  top: 73px;
  height: 3px;
  left: 0;
  background-color: rgba(243, 115, 33);
  transform-origin: left;
  transition: transform 0.35s ease-out;
}

.nav > ul > li > a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.login {
  width: 400px;
  height: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login button {
  width: 90px;
  text-align: center;
  line-height: 35px;
  border: none;
  font-size: 20px;
  background-color: inherit;
  cursor: pointer;
}

.login button:last-child {
  margin-right: 20px;
}

.login button > a {
  color: #d3d3d3;
}

.login button > a:hover {
  color: white;
}

.main {
  margin-top: 120px;
  width: 100%;
  height: 1160px;
  overflow: hidden;
}

.slide {
  position: relative;
  width: 400%;
  height: 1160px;
  display: flex;
  animation: slide infinite linear 10s;
}

.slide div {
  width: 100%;
  height: 1160px;
}

@keyframes slide {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.main > img {
  width: 100%;
}

.footer {
  width: 100%;
  display: flex;
}

.footer1 {
  width: 20%;
  height: 100px;
  background-color: lightblue;
}
.footer2 {
  width: 60%;
  height: 100px;
  background-color: lightcoral;
}
.footer3 {
  width: 20%;
  height: 100px;
  background-color: lightgreen;
}