* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrap {
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.mb {
  width: 600px;
  height: 600px;
  background-color: gray;
}

.head {
  width: 600px;
  background-color: aliceblue;
  display: flex;
}

.head1 {
  width: 200px;
  background-color: black;
  text-align: center;
}

.btn {
  padding: 19px 60px;
  cursor: pointer;
  background-color: lightgreen;
}

.hidden {
  display: none;
  visibility: hidden;
}

.nt {
  width: 600px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: black;
  overflow: hidden;
  visibility: hidden;
  transform: scale(0);
}
.nt1 {
  width: 200px;
  height: 60px;
  background-color: lightblue;
}
.nt2 {
  width: 200px;
  height: 60px;
  background-color: lightcoral;
}

.btn {
  width: 200px;
  text-align: center;
  line-height: 60px;
}

input#modal[type="checkbox"]:checked ~ .nt {
  visibility: visible;
  transform: scale(1);
}