* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.rb {
    width: 1200px;
    height: 600px;
    background-color: rgb(40, 40, 40);
}

.head {
    width: 1200px;
    text-align: center;
    line-height: 70px;
    display: flex;
}

.head1 {
    width: 400px;
    background-color: aliceblue;
}

.head2 {
    width: 400px;
    background-color: aqua;
}

.head3 {
    width: 400px;
    background-color: bisque;
}

.btn {
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.select {
    width: 1200px;
    text-align: center;
    line-height: 70px;
    display: flex;
    overflow: hidden;
    visibility: hidden;
}

.hidden {
    visibility: collapse;
    display: none;
}

.select1 {
    width: 400px;
    background-color: gray;
}

.select2 {
    width: 400px;
    background-color: rgb(179, 54, 54);
}

.select3 {
    width: 400px;
    background-color: rgb(144, 81, 202);
}

.content {
    width: 1200px;
    height: 460px;
    background-color: #d4d4d4;
    display: flex;
}

.content1 {
    width: 400px;
    height: 460px;
    display: flex;
    overflow: hidden;
    visibility: hidden;
}

.content1-1 {
    width: 200px;
    height: 460px;
    background-color: aqua;
}

.content1-2 {
    width: 200px;
    height: 460px;
    background-color: aquamarine;
}

.content2 {
    width: 400px;
    height: 460px;
    display: flex;
    overflow: hidden;
    visibility: hidden;
}

.content2-1 {
    width: 200px;
    height: 460px;
    background-color: #f5f5f5;
}
.content2-2 {
    width: 200px;
    height: 460px;
    background-color: #919191;
}

.content3 {
    width: 400px;
    height: 460px;
    display: flex;
    overflow: hidden;
    visibility: hidden;
}

.content3-1 {
    width: 200px;
    height: 460px;
    background-color: lightsalmon;
}
.content3-2 {
    width: 200px;
    height: 460px;
    background-color: lightpink;
}







input#night:checked ~ .select1,
input#week:checked ~ .select2,
input#dawn:checked ~ .select3 {
    visibility: visible;
}

input#pitch:checked ~ .content1-1,
input#hitter:checked ~ .content1-2,
input#pitch2:checked ~ .content2-1,
input#hitter2:checked ~ .content2-2,
input#pitch3:checked ~ .content3-1,
input#hitter3:checked ~ .content3-2 {
    visibility: visible;
}