* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century Gothic, sans-serif;
    color: inherit;
    cursor: default;
}

li {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main {
    width: 1320px;
}

.header {
    position: fixed;
    width: 1320px;
    text-align: center;
    line-height: 70px;
    background-color: rgb(42, 152, 185);
    color: white;
    display: flex;
    z-index: 2;
}

.logo {
    width: 320px;
    font-size: 25px;
}

.nav {
    width: 700px;
    height: 70px;
}

.nav > ul {
    display: flex;
}

.nav > ul > li {
    width: 100px;
}

.nav > ul > li > a {
    position: relative;
    cursor: pointer;
}

.nav > ul > li > a:hover {
    color: rgb(243, 115, 33);
    transition: 0.3s;
}

.nav > ul > li > a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 41px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.35s ease-out;
    background-color: rgb(243, 115, 33);
}

.nav > ul > li > a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.login {
    width: 300px;
}

.login a {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.login a:hover {
    color: #3a3a3a;
}

.imgslide {
    width: 1320px;
    height: 600px;
    padding-top: 70px;
    overflow: hidden;
}

.slide {
    position: relative;
    width: 6600px;
    display: flex;
    color: white;
    animation: slide infinite linear 10s;
}

.slide > div {
    position: relative;
    width: 1320px;
    height: 530px;
}

.slide > div::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.3;
}

.slide > div > img {
    width: 1320px;
    height: 530px;
}

.t1 {
    position: absolute;
    top: 225px;
    left: 60px;
    width: 370px;
    font-size: 19px;
    opacity: 0.6;
}

.t1:hover {
    opacity: 1;
    color: rgb(243, 115, 33);
    transition: all 0.4s;
}

.t2 {
    position: absolute;
    width: 390px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -195px;
    text-align: center;
    font-size: 19px;
}

.t2:hover {
    transform: scale(1.4);
    transition: all 0.4s;
}

.t3 {
    position: absolute;
    top: 200px;
    right: 0;
    font-size: 30px;
    width: 500px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
}

.t3:hover {
    background-color: rgba(0, 0, 0, 1);
    transition: 1.5s ease;
}

.t4 {
    position: absolute;
    width: 540px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -270px;
    text-align: center;
    font-size: 19px;
    text-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
}

@keyframes slide {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.info {
    width: 1320px;
    height: 600px;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 1120px;
    height: 400px;
    color: white;
    display: flex;
}

.cont1 {
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cont1 > div {
    position: relative;
    width: 540px;
    height: 400px;
    text-align: center;
    line-height: 400px;
    font-size: 19px;
}

.cont1 > div::before {
    position: absolute;
    content: "Skills baseball park";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0;
}

.cont1 > div:hover::before {
    opacity: 0.8;
    transition: 0.5s;
}

.cont1 > div > img {
    width: 540px;
    height: 400px;
}

.cont2 {
    position: relative;
    margin-left: 20px;
    width: 560px;
    height: 400px;
}

.cont2 > strong {
    position: absolute;
    top: 120px;
    font-size: 25px;
}

.cont2 > h4 {
    position: absolute;
    top: 210px;
    font-weight: 200;
}

.inbtn {
    position: absolute;
    top: 280px;
}

.inbtn button {
    position: relative;
    width: 120px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #d3d3d3;
    border-radius: 9px;
    background-color: rgb(40, 40, 40);
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.inbtn button:hover {
    border-color: rgb(243, 115, 33);
}

.inbtn button > a {
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.inbtn button::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(243, 115, 33);
    transition: all 0.3s ease;
    z-index: -1;
}

.inbtn button:hover::after {
    left: 0;
    width: 100%;
}

.calendar {
    width: 1320px;
    height: 800px;
    background-color: rgb(40, 40, 40);
    border-top: 1px solid gray;
    color: white;
}

.daily {
    width: 100%;
}

.year {
    text-align: center;
    line-height: 70px;
}

.status {
    width: 300px;
    margin-left: 510px;
    border: none;
    border-radius: 20px;
    background-color: rgb(243, 115, 33);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.sld {
    position: relative;
    width: 1200px;
    display: flex;
    animation: sld infinite linear 6s;
}

.sld > div {
    width: 300px;
    text-align: center;
    line-height: 35px;
}

@keyframes sld {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}