* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century Gothic, sans-serif;
}

li {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.back {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main {
    width: 1320px;
}

.header {
    position: fixed;
    width: 1320px;
    display: flex;
    color: white;
    background-color: rgb(42, 152, 185);
    z-index: 2;
}

.logo {
    width: 320px;
    font-size: 25px;
    text-align: center;
    line-height: 70px;
    cursor: default;
    color: aliceblue;
}

.nav {
    width: 700px;
    height: 70px;
    display: flex;
    align-items: center;
}

.nav > ul {
    display: flex;
    width: 400px;
}

.nav > ul > li {
    width: 100px;
    text-align: center;
    line-height: 40px;
}

.nav > ul > li > a {
    position: relative;
    cursor: pointer;
}

.nav > ul > li > a:hover {
    color: rgb(243, 115, 33);
    transition: 0.3s;
}

.nav > ul > li > a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    top: 40px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.35s ease-out;
    background-color: rgb(243, 115, 33);
}

.nav > ul > li > a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    left: 0;
}

.login {
    width: 300px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login > a {
    width: 70px;
    font-size: 14px;
    font-weight: 700;
}

.login > a:hover {
    color: #3a3a3a;
}

.info {
    padding-top: 70px;
    width: 1320px;
    height: 600px;
    overflow: hidden;
}

.slide {
    position: relative;
    width: 6700px;
    height: 530px;
    display: flex;
    animation: slide infinite linear 10s;
}

.slide > div {
    position: relative;
    width: 1320px;
    height: 530px;
    cursor: default;
}

.slide > div::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.3;
}

.tt1 {
    position: absolute;
    top: 225px;
    left: 60px;
    width: 370px;
    font-size: 19px;
    color: white;
    opacity: 0.6;
}

.tt1 > h4 {
    width: 260px;
    padding-top: 10px;
}

.tt1:hover {
    opacity: 1;
    color: rgb(243, 115, 33);
    transition: 0.4s ease;
}

.tt2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -195px;
    width: 390px;
    height: 80px;
    color: white;
}

.tt2:hover {
    transform: scale(1.4);
    transition: 0.5s;
}

.tt2 > h1 {
    text-align: center;
    line-height: 40px;
    font-size: 50px;
}

.tt2 > h4 {
    padding-top: 10px;
    font-size: 19px;
}

.tt3 {
    position: absolute;
    top: 200px;
    left: 800px;
    width: 520px;
    height: 160px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.tt3:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

.tt3 > h2 {
    margin-left: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.tt4 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -270px;
    width: 540px;
    height: 100px;
    color: white;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.tt4 > h1 {
    font-size: 50px;
}

.tt4 > h4 {
    font-size: 19px;
}

.slide div > img {
    width: 100%;
    height: 530px;
}

@keyframes slide {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.content {
    width: 1320px;
    height: 600px;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
    width: 1120px;
    height: 400px;
    display: flex;
    cursor: default;
}

.cont1 {
    width: 500px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.cont1 > div {
    position: relative;
    width: 500px;
    height: 400px;
    text-align: center;
    line-height: 400px;
    font-size: 20px;
    font-family: Century Gothic, sans-serif;
}

.cont1 > div::before {
    content: "Skills baseball park";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    color: white;
    opacity: 0;
}

.cont1 > div:hover::before {
    transition: 0.5s;
    opacity: 0.8;
}

.cont1 > div > img {
    width: 100%;
    height: 400px;
}

.cont2 {
    position: relative;
    padding-left: 20px;
    width: 620px;
    height: 400px;
    color: white;
}

.cont2 > strong {
    position: absolute;
    top: 120px;
    font-size: 25px;
}

.cont2 > h4 {
    position: absolute;
    top: 210px;
    font-weight: 200;
}

.btn {
    position: absolute;
    top: 280px;
    left: 20px;
}

.btn button {
    width: 120px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #d3d3d3;
    border-radius: 9px;
    background-color: rgb(40, 40, 40);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn button:hover {
    border-color: rgb(243, 115, 33);
}

.btn button > a {
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.btn button::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: rgb(243, 115, 33);
    transition: all 0.3s ease;
}

.btn button:hover::after {
    left: 0;
    width: 100%;
}

.calendar {
    width: 1320px;
    height: 800px;
    cursor: default;
}

.daily {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: rgb(38, 107, 128);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.daily > h1 {
    width: 200px;
    text-align: center;
}

.gamst {
    position: absolute;
    top: 100px;
    right: 510px;
    width: 300px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(199, 92, 26);
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gsl {
    position: relative;
    width: 1200px;
    height: 35px;
    display: flex;
    animation: gsl infinite linear 6s;
}

.gsl > div {
    width: 300px;
    text-align: center;
    line-height: 35px;
}

@keyframes gsl {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

.gamst:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.cale {
    width: 100%;
    height: 730px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 40, 40);
}

table {
    border-collapse: collapse;
    color: white;
}

th {
    border: 2px solid white;
    font-size: 25px;
    font-weight: bold;
    height: 50px;
}

td {
    border: 2px solid white;
    font-size: 25px;
    padding: 3px;
    width: 100px;
    height: 100px;
    vertical-align: top;
}

.mbt {
    display: block;
}

.button {
    cursor: pointer;
    padding-right: 70px;
    padding-bottom: 63px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.molab {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    visibility: collapse;
    transform: scale(0);
    transition: all 0.2s ease-out;
    z-index: 2;
}

.mob {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 300px;
    height: 140px;
    margin-left: -150px;
    margin-top: -70px;
    background-color: white;
    border-radius: 9px;
    overflow: hidden;
}

.closer {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    border: none;
    border-bottom-left-radius: 5px;
    background-color: black;
    cursor: pointer;
}

.mmt {
    display: inline-block;
    width: 100%;
    color: black;
}

.mmt > h3 {
    text-align: center;
    line-height: 140px;
    font-size: 20px;
}

input#modal[type=checkbox]:checked ~ .molab {
    visibility: visible;
    transform: scale(1);
}

.footer {
    width: 1320px;
    height: 230px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footb {
    width: 1200px;
    height: 170px;
    color: #d3d3d3;
    cursor: default;
}

.footb > h1 {
    display: block;
    font-size: 35px;
    color: aliceblue;
}

.pinfo {
    display: flex;
    padding-top: 20px;
    width: 100%;
    line-height: 25px;
}

.pinfo > p {
    margin-right: 40px;
}

.pinfo2 {
    padding-top: 10px;
}

.pinfo2 > span {
    line-height: 20px;
}

.copy {
    margin-top: 23px;
    width: 100%;
    text-align: right;
    line-height: 30px;
}