* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

.back {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  display: flex;
  text-align: center;
}

.aside {
  width: 200px;
  background-color: #e9f5db;
}

.aside1 {
  width: 100%;
  height: 150px;
}

.aside2 {
  width: 100%;
  height: 700px;
  background-color: black;
  color: white;
}

.aside3 {
  width: 100%;
  height: 100px;
  background-color: #e9f5db;
}

.contents {
  width: calc(100% - 200px);
  height: 850px;
}

.center {
  background-color: #87986a;
}

.section1 {
  position: relative;
  width: 100%;
  height: 400px;
}

.side-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  background-color: #cadbad;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
}

.box1 {
  width: 100%;
  height: 100px;
}

.box2 {
  width: 100%;
  height: 100px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.box3 {
  width: 100%;
  height: 100px;
}

.section2 {
  width: 100%;
  height: 200px;
  background-color: #cfe1b9;
}

.section3 {
  width: 100%;
  height: 250px;
  background-color: #718355;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  color: white;
}

.footer1 {
  width: 80%;
  background-color: #333;
}
.footer2 {
  width: 20%;
  background-color: #555;
}