* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

.wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.box {
    width: 100%;
    height: 100vh;
    display: flex;
}

.aside {
    width: 10%;
    background-color: rgb(236, 216, 236);
}

.aside1 {
    width: 100%;
    height: 10%;
}

.aside2 {
    width: 100%;
    height: 80%;
    background-color: black;
}

.aside3 {
    width: 100%;
    height: 10%;
}

.main {
    width: 90%;
}

.contents {
    width: 100%;
    height: 90%;
    display: flex;
}

.banner {
    width: 25%;
    background-color: lightblue;
}

.banner1 {
    width: 100%;
    height: 15%;
    background-color: lightsalmon;
}

.banner2 {
    width: 100%;
    height: 35%;
    background-color: pink;
}

.banner3 {
    width: 100%;
    height: 35%;
    background-color: rgb(200, 156, 218);
}

.banner4 {
    width: 100%;
    height: 15%;
    background-color: lightblue;
}

.slider {
    width: 75%;
    background-color: rgb(255, 230, 233);
}

.footer {
    width: 100%;
    height: 10%;
    background-color: black;
}

.footer1 {
    width: 100%;
    height: 50%;
}

.footer2 {
    width: 100%;
    height: 50%;
    background-color: rgb(40, 40, 40);
}